<!DOCTYPE html>
<html>
  <head>
    <metacharset = "utf 8">
    <link rel="stylesheet" href="login.css"/>
    <title>e-SMed Espace personnel</title>
  </head>

  <section>
        <h2>Bienvenue dans votre espace personnel {{nom}} </h2>
        <p>Voici les résultats de votre dernier test
        <div id='pdf'>
            <table id='table'>
                <tr>
                    <td> NUMERATION GLOBULAIRE </td>
                </tr>
                <tr>
                    <td>  </td>
                </tr>
                <tr>
                    <td> Hématies </td>
                    <td> 5.23</td>
                </tr>
                <tr>
                    <td> Hémoglobine </td>
                    <td> 14.2 </td>
                </tr>
                <tr>
                    <td> Hématocrite </td>
                    <td> 40.8 </td>
                </tr>
                <tr>
                    <td> VGM</td>
                    <td> 78.0 </td>
                </tr>
                <tr>
                    <td> TCMH</td>
                    <td> 27.2 </td>
                </tr>
                <tr>
                    <td> CCMH </td>
                    <td> 34.8 </td>
                </tr>
                <tr>
                    <td> Leucocytes</td>
                    <td> 7.33 </td>
                </tr>
                <tr>
                    <td>  </td>
                </tr>
                <tr>
                    <td> FORMULE LEUCOCYTAIRE </td>
                </tr>
                <tr>
                    <td>  </td>
                </tr>
                <tr>
                    <td> PN </td>
                    <td> 3.14 </td>
                </tr>
                <tr>
                    <td> PE </td>
                    <td> 0.71 </td>
                </tr>
                <tr>
                    <td> PB </td>
                    <td> 0.03 </td>
                </tr>
                <tr>
                    <td> Lymphocytes </td>
                    <td> 2.82 </td>
                </tr>
                <tr>
                    <td> Monocytes </td>
                    <td> 0.63 </td>
                </tr>
                </div>

            </table>
            <div class="bouton">
              <form method="get" action="/choix">
                <input type="submit" value="RETOUR" id='logbouton'/>
                </form>
              </div>
              
              <div class="bouton">
              <form method="get" action="/">
                <input type="submit" value="ACCUEIL" id='logbouton'/>
                </form>
              </div>
              
              <div class="bouton">
              <form method="get" action="/">
                <input type="submit" value="Se déconnecter" id='logbouton'/>
                </form>
              </div>
        </p>
        

    </section>
</html>  